[genuitec-file-id="wc3-26"],[genuitec-lp-path="/Healthy_manager/WebRoot/style/menu.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

.menu11 { height: 45px; display: block; }
.menu11 ul { list-style: none; padding: 0; margin: 0; }
.menu11 ul li { float: left; /* 菜单子元素的内容超出不可见 */  
			overflow: hidden; position: relative; text-align: center; line-height: 45px; }
.menu11 ul li a { /* 必须是相对定位  */ 
			position: relative; display: block; width: 190px; height: 45px; font-family: Arial; font-size: 15px; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; text-decoration: none; cursor: pointer; }
.menu11 ul li a span { /* 所有层将使用绝对定位 */
			position: absolute; left: 10px; width: 150px; }
.menu11 ul li a span.out { top: 0px; }
.menu11 ul li a span.over,  .menu ul li a span.bg { /* 起初.over层和.bg层相对a元素-45px以达到隐藏 */  
			top: -45px; }
#menu11 { background:url(../images/bg_menu.gif)  repeat-x; border:1px ;}
#menu11 ul li a { color: #000; }
#menu11 ul li a span.over { color: #FFF; top: -45px;}
#menu11 ul li span.bg {top: -45px; height: 45px; background: url(../images/bg_over.gif) center center no-repeat; }
#selected{color: #FFFFFF; width: 200px;cursor:default;font-size: 15px;font-weight: bold;letter-spacing: 1px;background: url('../images/bg_over.gif') no-repeat scroll center center rgba(0, 0, 0, 0);height: 45px;}