@charset "utf-8";
/* CSS Document */
body {margin:0px 0px 0px 0px;}
tr{font-size: 12px;text-align: center;}
td{height:20px; background-color: #FFFFFF;}
.font1 {font-weight: bold; }
.font2{color: #03515d;}
